
    .site-footer{
        &::before {
            animation: spin var(--rotation) linear infinite ;
            width: 155px;
            height: 154px;
        }
        &::after {
            animation: spin var(--rotation) linear infinite ;
            width: 173px;
            height: 169px;
        }
            &__liste{
                &::after{
                animation: spin var(--rotation) linear infinite ;
                width: 646px;
                height: 646px;
                }
            }
        
      }