 
    .site-footer{
        &::before {
            @include flower-animation;
            width: 155px;
            height: 154px;
        }
        &::after {
            @include flower-animation;
            width: 173px;
            height: 169px;
        }
            &__liste{
                &::after{
                @include flower-animation;
                width: 646px;
                height: 646px;
                }
            }
      }