/* ANIMATION FADE IN */

@keyframes animateBottom {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
 }

 @keyframes animateTop {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
 }

/* ANIMATION LOGO */

@keyframes animateTopLogo {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
 }

 @keyframes floating {
    0%, 100% {
        transform: translate3d(0, 0, 0);
      }
      25% {
        transform: translate3d(10px, -15px, 0);
      }
      50% {
        transform: translate3d(0px, 10px, 0);
      }
      75% {
        transform: translate3d(10px, 0px, 0);
      }

    }

/* ANIMATION FLEURS */

 @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}   

/* ANIMATION FADE IN TITRES H2 */

@keyframes animateTitre {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
 }

/* MIXINS */

@mixin flower-animation{
    animation: spin var(--rotation) linear infinite ; // ajout d'une variable pour modifier la vitesse de rotation au scroll en js
}

@mixin flower-animation-menu{
    animation: spin 20s linear infinite ;
}

@mixin cat-animation{
    animation: floating 6s ease-in-out infinite;
}