/* FADE IN ET ROTATION DES FLEURS */

.studio {
    &__titre{
        &::before{
            @include flower-animation;
            width: 203px;
            height: 199px;
        }
        &::after{
            @include flower-animation;
            width: 109px;
            height: 109px;
        }
    }
} 

/* FADE IN TITRE H2 AU SCROLL */

.studio-span{
    display: inline-block; // Permet d'appliquer l'animation au span
    opacity: 0;
    &__animation{
        animation: animateTitre 0.5s ease-in-out both;
    }
    &:nth-child(2){ 
        animation-delay: 0.3s; // Délai pour démarrer l'animation pour le deuxième mot 
    }
 }