.story {
    #character{
      margin: 6em;
      display: flex;
      flex-direction: column;
      text-align: center;

      h3{
      background-image: url(./assets/images/orange_characters_bg.png);
      }

      .swiper-container {
        max-width: 1440px;
        width: 100%;
        padding-top: 50px;

        @media (max-width: 780px) {
          max-width: 900px;
        }

      }
    }
}

.swiper-slide {
  background-position: center;
  background-size: cover;

  h4{
    font-family:"Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 0;
  }
}