.story #characters{
  flex-direction: column;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 380px;
  height: 380px;
}

/*
.swiper-slide img {
  display: block;
  width: 100%;
}
*/

.swiper-slide h4 {
font-family:"Roboto Mono", monospace;
font-weight: 400;
font-size: 1.5rem;
margin-top: 0;
}