/* FADE IN */

.story {
   animation: animateTop 2s;

        &__article p {
            animation: animateBottom 2s; /* Permet d'annuler l'animation du texte */
        }

        &__place p {
            animation: animateBottom 2s; /* Permet d'annuler l'animation du texte */
        }
}



/* ROTATION FLEURS */

    .story{
        &__titre{
            &::after{
                animation: spin var(--rotation) linear  infinite ; // ajout d'une variable pour modifier la vitesse de rotation au scroll en js
                /* donner la L et H exact de la fleur pour que la rotation soit bien centrée */
                width: 155px;
                height: 154px;
            }
        }
        &__article{
            &::after{
                animation: spin var(--rotation) linear infinite;
                width: 188px;
                height: 188px;   
            }
        }
    }
    

/* FADE IN TITRE H2 AU SCROLL */

   .story-span{
        display: block; // Permet d'appliquer l'animation au span
        opacity: 0;
        &__animation{
            animation: animateTitre 1s ease-in-out both;
        }
     }


