.nav{
    height: 80px;
    background-color: #FFD5A2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__titre{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.4em;
}

.nav__titre a{
    text-decoration: none;
    
}

.nav__liste {
    position: fixed;
    padding-top: 20px;
    padding-left: 0px;
    margin-left: 0px;
    gap: 4%;
    top: 80px;
    background: #FFF5E9;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    //padding-bottom: 80px;
    display: none;
    overflow: hidden;
    animation: animateBottom 1.2s;
    z-index: -1;
}

.animation_menu{
    animation: animateTitre 1.5s ease-in-out 1s both;
    display: block;
}

.nav__liste__story{
    &::before{
        content: url(./assets/images/menu/orchid.png);
        position: absolute;
        width: 173px;
        height: 169px;
        left: -2em;
        top: 5em;
        animation: spin 20s linear infinite ;
    }
    &::after{
        content: url(./assets/images/menu/Sunflower.png);
        position: absolute;
        width: 155px;
        height: 154px;
        right: 15%;
        top: 10em;
        animation: spin 20s linear infinite ;
    }

}

.nav__liste__characters{
    &::before{
        content: url(./assets/images/menu/cat_violet.png);
        position: absolute;
        top: 12em;
        left: 21%;
        animation: floating 6s ease-in-out infinite;
    }
    &::after{
        content: url(./assets/images/menu/cat_noir.png);
        position: absolute;
        top: 32em;
        right: 14%;
        animation: floating 6s ease-in-out infinite;
    }

}

.nav__liste__place{
    &::before{
        content: url(./assets/images/menu/Flower_petit.png);
        position: absolute;
        top: 33em;
        left: 15%;
        animation: spin 20s linear infinite ;
    }
    &::after{
        content: url(./assets/images/menu/Random_Flower_petit.png);
        position: absolute;
        width: 75px;
        height: 75px;
        top: 28em;
        right: -2em;
        animation: spin 20s linear infinite ;
    }

}

.nav__liste__studio{
    &::before{
        content: url(./assets/images/menu/cat_orange.png);
        position: absolute;
        top: 50em;
        left: 5%;
        animation: floating 6s ease-in-out infinite;
    }
    &::after{
        content: url(./assets/images/menu/Hibiscus_menu.png);
        position: absolute;
        width: 646px;
        height: 646px;
        top: 40em;
        right: -24em;
        animation: spin 20s linear infinite ;
    }

}



.nav__liste li {
    list-style: none;
    
}

.nav__liste li a{
    text-decoration: none;
    font-size: calc(1rem + 3.5vmin);
}

.nav__liste li a:hover{
    text-decoration: none;
   // font-size: 4rem;
  // font-size: calc(1rem + 3vmin);
    text-shadow: #FF5C00 0 0 14px;
    color: #000;
}

.nav__liste li a:focus{
    color: #000;
}

.nav__liste li a:active{
    color: #000;
}

.lien-koukaki{
    font-size:  calc(0.5rem + 1vmin) !important;
    margin-top: 50%;
    display: block;
}

#icons{
    cursor: pointer;
    position: absolute;
    right: 9%;
    font-size: 30px;
}

#icons::before{
    content: "\2630";
}

// Quand la classe "active" est ajoutée avec js , cela affiche la croix sur le menu

.active #icons::before{
    content: "\2715";
}

.active .nav__liste{
    display: flex; // annule le display:none de <ul> et affiche le menu
}

/* MEDIA QUERIES */

@media only screen and (max-width: 900px)  {
  
    .nav__liste__characters::before{
        display: none;
    }
    .nav__liste__characters::after{
        display: none;
    }
    .nav__liste__studio::after{
        display: none;
    }
    .nav__liste__studio::before{
        display: none;
    } 
}

@media only screen and (max-width: 750px)  {
  
    .nav__liste__story::after {
        display: none;
    }
    .nav__liste__studio::after {
        display: none;
    }
    .nav__liste__place::before {
        display: none;
    }
}

@media only screen and (max-width: 500px)  {
  
    #myNav {

        justify-content:flex-start ;
        font-size: 0.9em;
    }
    .nav__titre{
        padding-left: 20px;
    }
    .nav__liste__story::before {
        display: none;
    }
    .nav__liste__place::after {
        display: none;
    }

    .nav__liste__studio::before {
        display: none;
    }
}


@media only screen and (max-width: 400px)  {
  
    .nav__titre {
        display: none;
    }

    #icons {
        position: static;
    }

    #myNav {

        justify-content:center ;
        padding-left: 0px;

    }
}