.oscars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin-left: 11em;

    @media (max-width: 1130px)  {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    &__titre{
        background-image: url(./assets/images/orange_oscars_bg.png);
        text-align: left;
        padding-top: 2em;
        padding-bottom: 2em;
        font-size: calc(0.9rem + 1.4vw);
        line-height: 150%;
        text-shadow: 0px 4px 4px #00000042;

        @media (max-width: 1130px)  {
            font-size: calc(0.6rem + 1.9vw);
            line-height: 150%;
        }

    }
}