/* FADE IN ET ROTATION DES FLEURS */

.studio {
    animation: animateTop 2s;

    &__titre{
        display: flex; //test
        flex-direction: row; //test
        justify-content: center; //test
        &::before{
            animation: spin var(--rotation) linear infinite ;
            width: 203px;
            height: 199px;
        }
        &::after{
            animation: spin var(--rotation) linear infinite ;
            width: 109px;
            height: 109px;
        }
    }
 
    &__texte p {
     animation: animateBottom 2s; /* Animation sens inverse, permet d'annuler l'animation du texte */
    }
 
} 

/* FADE IN TITRE H2 AU SCROLL */

.studio-span{
    display: block; // Permet d'appliquer l'animation au span
    opacity: 0;
    &__animation{
        animation: animateTitre 1s ease-in-out both;
    }
 }